PORT=5000
JWT_SECRET=hmrMUnrtM8o2ArvboTzSt9RKnxTCt6Sb7bGGcRDTMSFzvUTOmcej4WKmD6CXXXRK8pMlo1qq+VWo5NnVTmBFVQ==

# Supabase (replace MongoDB)
SUPABASE_URL=https://ponwbjcooqbpcmxlcpmp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvbndiamNvb3FicGNteGxjcG1wIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUyMTQ3NywiZXhwIjoyMDg5MDk3NDc3fQ.4lNRju-tW2bEKbTVlNCQnrdBXKhcn5MHbHdqaFEsoEg
